
<nav class='sub-nav'>
  <h1> Subs </h1>
  <ul>
    <li><%= link_to 'New Sub', new_sub_url, class: 'button' %></li>
  </ul>
</nav>

<ul>
<% @subs.each do |sub| %>
  <li><a href="<%= sub_url(sub) %>" class="sub-title"><%= sub.title %>: <span class='description'><%= sub.description %></span></a></li>
<% end %>
</ul>
