// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.checksubs {
  display: flex-wrap;
  justify-content: space-between;
  margin-left: 20px;
  label {
    display: inline-block;
    vertical-align: middle;
    input {
      vertical-align: bottom;
    }
  }
}

.content-box {
  margin-left: 10px;
  background-color: $highlight;
  width: 100%;
  padding: 10px;
  p {
    margin: 5px;
  }
}

.post-subs ul {
  list-style: circle;
  margin-top: 10px;
  margin-left: 20px;
}
